<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio_Kirti</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap&family=Montserrat:wght@400;700" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="collapsible-menu">
            <input type="checkbox" id="menu">
            <label for="menu">
                <div class="toggle">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                </div>
            </label>
            <div class="menu-content">
                <ul>
                    <li><a href="{% url 'about_me' %}">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="{% url 'about_me' %}">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
        
        
    </nav>

    <header>
        <div class="header">
            <div class="welcome-text">Hello there, Welcome to my portfolio website</div>
            <div class="subtext">Discover my projects, skills, and experience in various domains including, but not limited to <br>Artificial Intelligence, Machine Learning, and web development. Let's build something great together!</div>
            <div class="profile-block">
                <img class="profile-img" src="static/images/myphoto1.jpg" alt="Your Photo" class="img-fluid rounded-circle mb-3">
                <div class="description">
                    <p>A penultimate at Sikkim Manipal Institute of Technology. A passionate AI/ML developer with decent frontend experience.</p>
                </div>
            </div>
        </div>
    </header> 

    <div class="container">
        <section id="projects">
            <h2 class="text-center mb-3">My Projects</h2>
            <div class="project-container">
                <div class="card project1">
                    <p class="heading">Find The Flower</p>
                    <p><strong>Trained a 16-layered VGG CNN model to classify 5 flower varieties and deployed it as a web application using Django that can detect the flower's name based on the picture provided.</strong></p>
                    <a href="https://github.com/vegam05/FindTheFlower" class="cssbuttons-io">
                        <span
                          ><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                              d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                              fill="currentColor"
                            ></path>
                          </svg>
                          Code</span>
                        </a>
                </div>
                <div class="card project2">
                    <p class="heading">Platepal: Your foody buddy</p>
                    <p><strong>A web app with a CNN backend classifies food images and uses AI to provide dietary recommendations based on integrated patient health data.</strong></p>
                    <a href="https://github.com/vegam05/Platepal" class="cssbuttons-io">
                        <span
                          ><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                              d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                              fill="currentColor"
                            ></path>
                          </svg>
                          Code</span>
                        </a>
                      
                </div>
            </div>
        </section>
    </div>

    <footer>
        <p>Connect with me:</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/vegam005/" target="_blank">
                <img src="static/icons/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/vegam05" target="_blank">
                <img src="static/icons/github.png" alt="GitHub">
            </a>
            <a href="https://www.instagram.com/vegam005" target="_blank">
                <img src="static/icons/instagram.png" alt="Instagram">
            </a>
            <a href="mailto:work.kirti005@gmail.com">
                <img src="static/icons/email.png" alt="Email">
            </a>
        </div>
    </footer>
    <script src="static/js/scripts.js"></script>
</body>
</html>
